* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;

    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    border-radius: 20px;
    padding: 40px 30px;
    text-align: center;
    width: 90%;
    max-width: 350px;
    color: white;
}

.card h1 {
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn {
    text-decoration: none;
    background: #a602c7;
    color: white;
    padding: 12px;
    border-radius: 25px;
}